
/*******  Fonts  ******/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



/*******  Basic Styles  ******/
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}


/*******  Players Section Styles ******/

.players-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.players {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}

.player {
    width: 300px;
    height: 444px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-image {
    width: 300px;
    height: 256px;
}

.player-image img {
    width: 100%;
    object-fit: cover;
}

.player-info {
    margin-top: 16px;
}

.player-name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
}

.player-details {
    font-weight: 400;
    color: #6C6C6C;
}


/**********************************************
        Latest News Section Styles 
**********************************************/

/* .latest-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs {
    width: 870px;
}

.blog {

}

.blog-image {
    width: 177px;
    height: 117px;
}

.blog-image img {
    width: 100%;
} */


/**********************************************
        Recent Matches Section Styles 
**********************************************/
.recent-matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D25A0;
    margin-top: 40px;
    padding-bottom: 40px;
}
.recent-matches h2 {
    margin: 30px;
    color: white;
}
.matches {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.match {
    width: 300px;
    height: 230px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.teams {
    display: flex;
    justify-content: space-between;
}
.teams img {
    width: 135px;
    border: 0.5px solid rgba(0, 0, 0, 0.479);
}

.match-info {
    margin-top: 16px;
}

.result {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
    color: #2D25A0;
    text-align: center;
}

.match-info p {
    font-weight: 400;
    color: #6C6C6C;
}

.far, .fas {
    color: #2D25A0;
}
/**********************************************
        Media Queries For Tablets 
**********************************************/

@media (max-width: 1024px) {
    .players, .matches {
        width: 690px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}



/**********************************************
        Media Queries For Mobile Phone 
**********************************************/

@media (max-width: 688px) {
    .players, .matches {
        width: 330px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
        grid-column-gap: 0px;
    }
}