/*******  Fonts  ******/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



/**********************************************
                Basic Styles 
**********************************************/
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}



/**********************************************
            Intro Section Styles 
**********************************************/

.intro-container {
    width: 100%;
    height: 700px;
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
}

.intro-section {
    width: 1143px;
    display: flex;
    justify-content: space-between;
}

.intro-text {
    width: 488px;
    height: 301px;
    margin: 207px 0px 169px 0px;
}

.intro-text h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 80px;
    transition: transform ease-in-out 2s;
}

.intro-container:hover h1{
    transform: scale(.6);
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% {
        color: rgba(255, 0, 0, 0.568);
    }
    25% {
        color: yellow;
    }
    50% {
        color: black;
    }
    100% {
        color: rgb(8, 179, 170);
    }
}
.intro-text p {
    margin-top: 30px;
}

.intro-text p a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 10px 24px;
    background-color: #E02C6D;
}

p a .fas {
    color:white;
    margin-left: 8px;
}

.intro-image {
    width: 556.01px;
    height: 438px;
    margin: 153px 0px 86px; 
}

.intro-image img {
    width: 100%; 
}



/**********************************************
            Players Section Styles 
**********************************************/

.players-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.players {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}

.player {
    width: 300px;
    height: 444px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-image {
    width: 300px;
    height: 256px;
}

.player-image img {
    width: 100%;
    object-fit: cover;
}

.player-info {
    margin-top: 16px;
}

.player-name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
}

.player-details {
    font-weight: 400;
    color: #6C6C6C;
}




/**********************************************
        Recent Matches Section Styles 
**********************************************/

.recent-matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D25A0;
    margin-top: 40px;
    padding-bottom: 40px;
}
.recent-matches h2 {
    margin: 30px;
    color: white;
}
.matches {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.match {
    width: 300px;
    height: 230px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.teams {
    display: flex;
    justify-content: space-between;
}
.teams img {
    width: 135px;
    border: 0.5px solid rgba(0, 0, 0, 0.479);
}

.match-info {
    margin-top: 16px;
}

.result {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
    color: #2D25A0;
    text-align: center;
}

.match-info p {
    font-weight: 400;
    color: #6C6C6C;
}

.far, .fas {
    color: #2D25A0;
}


/**********************************************
        Latest News Section Styles 
**********************************************/

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.news-container h2 {
    margin: 30px;
}

.all-news {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.news-thumbnail {
    width: 180px;
    height: 140px;
}

.news {
    display: flex;
    color: white;
    background-color: #2d25a0;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.164);
}

.news-info {
    margin: 10px ;
}
.news-thumbnail img {
    width: 180px;
    height: 140px;
}




/**********************************************
                Footer Style
**********************************************/

footer {
    width: 483.87px;
    height: 213px;
    margin: 158px auto 63px;
}

.footer-logo {
    width: 483.87px;
    height: 110px;
}
.footer-logo img {
    width: 100%;
}
.icons {
    width: 170px;
    height: 32px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.icons a {
    color: #969BAB;
    background-color: #E7E7E8;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    
    display: inline-block;
    width: 32px;
    height: 29px;
    padding-top: 3px;
    border-radius: 50%;
}

.copyright {
    font-size: 18px;
    line-height: 24px;
    width: 236px;
    height: 31px;
    margin: 0px auto;
}




/**********************************************
    Media Queries For Tablets/ Laptops
**********************************************/

@media (max-width: 1030px) {
   
    .intro-section {
        width: 800px;
    }
    .intro-text {
        margin: 170px 0px;
    }
    .intro-text h1 {
        font-size: 50px;
    }
    .intro-image {
        width: 500px;
        height: 400px;
        margin: 153px 0px 86px; 
    }

    .players, .matches {
        width: 690px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}



/**********************************************
        Media Queries For Mobile Phone 
**********************************************/

@media (max-width: 688px) {
    /* Intro Section */
    .intro-section {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .intro-text {
        width: 278px;
        height: 138px;
        margin: 100px 0px;
    }
    .intro-text h1 {
        font-size: 36px;
        line-height: 50px;
    }
    .intro-image {
        width: 329px;
        height: 259.17px;
        margin: 50px 0px 61px; 
    }

    /* Players and Matches */
    .players, .matches {
        width: 330px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
        grid-column-gap: 0px;
    }

    /* Latest News */
    .all-news {
        width: 330px;
        grid-template-columns: 1fr;
    }
    .news-thumbnail {
        width: 330px;
        height: 200px;
    }
    .news {
        flex-direction: column;
        align-items: center;
    }
    .news-thumbnail img {
        width: 330px;
        height: 200px;
    }

    /* Footer */
    footer {
        width: 330px;
        height: 213px;
        margin: 50px auto;
    }

    .footer-logo {
        width: 330px;
        height: 100px;
    }
}